<div class="jumbotron text-center mt-5 d-flex flex-column justify-content-center align-items-center"
  style="background: cadetblue;height: 100vh;width: 100vw" id="aboutus">
  <h4 class="display-4">Welcome to </h4>
  <h4 class="display-4"><i class="fas fa-file-audio fa-1x"></i> Musix</h4>
  <p class="lead">Musix is Online Music store Website developed using node-js, express-js, jQuery, mongodb and
    socket-io. Here you can
    sign Up and purchase different type of music related items. We will add more items for you to purchase. So keep
    visiting to our website. This Website will
    best view in Desktop. Have fun :)</p>
  <div class="blockquote-footer text-right text-secondary">developed by Niteesh</div>
</div>