<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head-include.ejs %>
  <title>Musicx</title>
</head>

<body>
  <% include main-header.ejs %>
  <% include aboutus-body.ejs %>
  <% include footer.ejs %>
  <% include partials/body-include.ejs %>
</body>

</html>