<footer class="bg-dark" id="homeFooter">
  <div class="row">
    <div class="container">
      <div class="d-flex justify-content-center text-light">
        <div class="align-self-start m-auto">
          <h4 class="ml-4">Musicx</h4>
          <p class="">Copyright &copy; <span><%= new Date().getFullYear()%></span></p>
        </div>
        <div class="align-self-center">
          <div class="m-auto"><a target="_blank" href="https://www.instagram.com/niteesh__mishra"><i
                class="fab fa-instagram fa-2x"></i></a><a target="_blank"
              href="https://www.facebook.com/iam.niteeshmishra"> <i class="fab fa-facebook fa-2x"></i></a><a
              target="_blank" href="https://twitter.com/NITIGREAT"> <i class="fab fa-twitter-square fa-2x"></i></a>
          </div>
          <span class="mr-2">Connect with Us</span>
        </div>
      </div>
    </div>
  </div>
</footer>