<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head-include.ejs %>
  <title>Musicx</title>
</head>

<body style="background:turquoise">
  <% include main-header.ejs %>
  <% include main-body.ejs %>
  <% include footer.ejs %>
  <% include partials/body-include.ejs %>
</body>

</html>