<div class="row jumbotron justify-content-center flex-column"
  style="height:130vh;width:inherit;background-color:lightseagreen">
  <div class="m-auto d-flex flex-column justify-content-center" style="border: 1px dashed greenyellow">
    <h5 class="m-auto">Your Order Details</h5>
    <div class="m-auto">
      <span class="mt-1 text-center font-weight-bold">Cart Total: <span id="totalpay"><%=data.total%></span></span>
    </div>
    <div class="mt-1 text-center mr-3">
      <label for="text">Have a Promocode</label>
      <input type="text" name="promocode" class="d-inline"><button type="submit" class="btn btn-success btn-sm mb-1"
        onclick="promocode()">Apply</button>
      <div>
        <span id="promoerr" class="m-auto"></span>
      </div>

    </div>
  </div>
  <div class="m-auto" style="border: 1px dashed greenyellow">
    <h5 class="text-center">Your Address</h5>
    <textarea name="addressarea" cols="50" rows="4" class="form-control" id="addresstext"
      disabled><%=data.completeAddress%></textarea>
    <span class="float-right"><button class="btn btn-primary" id="changeaddress"
        onclick="changeaddress()">Change</button></span>
    <span class="float-right"><button class="btn btn-success d-none" onclick="saveaddress()"
        id="saveaddress">Save</button></span>
  </div>
  <div class="m-auto" style="border: 1px dashed greenyellow">
    <h5>Choose your Payment Method</h5>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="cards" style="background-color: greenyellow">
          <h5>
            <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
              Credit/Debit Card <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i
                class="fab fa-cc-amex"></i> <i class="fab fa-cc-paypal"></i>
            </a>
            </h6>
        </div>
        <div id="collapse1" class="collapse show">

        </div>
      </div>

      <div class="card">
        <div class="card-header" id="paytm" style="background-color:greenyellow">
          <h5>
            <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
              Paytm <img src="/images/paytm.png" alt="paytm">
            </a>
          </h5>
        </div>

        <div id="collapse2" class="collapse show">
          <div class="card">
            dkgjldkjg/ld
          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-header" id="accessories" style="background-color:greenyellow">
          <h5>
            <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
              Cash <i class="far fa-money-bill-alt"></i>
            </a>
          </h5>
        </div>

        <div id="collapse3" class="collapse show">

        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-success btn-lg" onclick="makepayment()">Make Payment</button>
  </div>
</div>


</div>