#homeFooter {
  margin-top: 5px;
  display:flex;
  flex-shrink:0;
  flex-direction:column;
  position: relative;
   bottom:0;
   width:100vw;
   height:60px;   /* Height of the footer */
   background:#6cf;
}